/* Sağ tərəf , 73% , Scrool */
/* ortaqlar */
#home, #about, #skills, #counter, #education, #experience,  #portfolio, #contact, #mobhome {
    width: 96%;
    background-color: #4a63e7;
    margin-bottom: 4.5rem;
    border-radius: 2rem;
}

.bottomline {
    background-color: crimson;
    border: 2.5px solid crimson;
    border-radius: 1.5rem;

    width: 3.5rem;

    margin-bottom: 9.7rem;
    margin-top: .5rem;
}

#about h2, #skills h2, #education h2, #experience h2, #portfolio h2, #contact h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

#mobhome {
    display: none;
}
