/* 3)Skills bölməsi */
#skills {
    padding: 8rem 5rem;

    background-color: #fff;
}

.skillscontent {
    display: flex;
}

.skillsleft, .skillsright {
    width: 50%;

    font-size: 1.5rem;
    font-weight: 600;
}

.skillsleft {
    padding: 0 2rem 0 0;
}

.skillname {
    display: flex;
    justify-content: space-between;
    
    margin: 0 0 2rem 0;
}

.skillpercent {
    color: #6c757d;
    font-weight: 300;
}

.skillone, .skilltwo {
    margin-bottom: 6rem;
}

.barcontainer {
    width: 100%;
    
    background-color: #ddd;
    border-radius: 2rem;
}

.skill {
    padding: 0.2rem 0;
}

.cr {
    background-color: crimson;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.html {width: 90%;}

.css {width: 90%;}

.js {width: 90%;}

.csharp, .cplus {width: 50%;}

.cplus {width: 20%;}

.gt {width: 70%;}
